.topbar {
  display: flex;
  padding: 17px 0px 16px 0px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.topbar-left {
  display: flex;
  width: 263px;
  height: 58px;
  padding: 6px 19px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.topbar-left .logo-circle {
  display: flex;
  width: 45px;
  height: 46px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background: var(--primary-color);
}

.topbar-left .logo-text {
  display: flex;
  width: auto;
  height: 45px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 9px;
}

.role {
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 2px solid #f00;
}

.logo-text .title {
  font-size: 16px;
}

.logo-text .subtitle {
  font-size: 13px;
  width: auto;
}

.topbar-right {
  display: flex;
  width: 1123px;
  height: 80px;
  padding: 10px 25px;
  justify-content: space-between;
  align-items: center;
}

.topbar-right .nav-link {
  display: flex;
  padding: 11px 37px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 5px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
}

.nav-link.active {
  background-color: var(--primary-color);
  color: var(--active-text-color);
}

/* Hover effect */
.nav-link:hover {
  background-color: #fff4e5;
  transform: translateY(-1px);
  box-shadow: 0 2px 8px rgba(255, 149, 0, 0.2);
}

/* Active hover effect */
.nav-link.active:hover {
  background: #ec8c04;
  border-color: #ec8c04;
  transform: translateY(-1px);
}
.nav-link.logout-btn {
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
